body{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color:black
}
footer{
    text-align: center;
    padding: 20;
}
header{
    text-align: center;
    padding: 20;
    background-color: aqua;
    color: white;
}
ul{
    list-style: circle;
}
h2{
    color: aqua;
}
section{
    
    background-color: white;
}